.header {
      position:fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color:white;
      box-shadow: rgba(0,0,0,0.08) 0px 1px 2px;
      z-index:9990;
}
.home-container {
    display:flex;
    align-items:space-between;
    justify-content:space-between;
    flex-wrap:wrap;
    max-width:1200px;
    height:140px;
    margin:0 auto;

}
.home-logo {
    display:inline-block;
    width:300px;
    height:60px;
    display:flex;
    align-items:center;

}

.home-logo > a {
    font-size:30px;
    display:block;
    color:#00CE7C;
}

.navbar {
    height:60px;
    width: 300px;
    display:flex;
    justify-content:space-around;
    align-items:center;

}
.writer-button {
    border-radius:10px;
    background-color:#00ce7c;
    width:100px;
    height:40px;
    color:white;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    border:none;
}

.bottom-navbar {
    width:1200px;
    display:flex;
    justify-content:space-between;
}
.bottom-navbar > div> a:nth-child(1) {
    font-size:20px;
    margin-left:20px;
    margin-right:10px;

}
.bottom-navbar > div > a:nth-child(2) {
    font-size:20px;
    margin-left:20px;
}

.search-bar {
position:absolute;
right:30px;

}
.search-text {
    position:absolute;
    display:flex;
    align-items:center;
}
.search-content {
    position:relative;
    width:100%;
}
.search-button{
    position:absolute;
    right:10px;
    height:30px;
    border:none;
    color:#00CE7C
}



